

.custom-input::placeholder {
  font-weight: 500;
  color: #3b3b3b;
}
.random {
  width: 45px;
  position: absolute;
  cursor: pointer;
  transition: transform 0.2s;
}

.random:hover {
  transform: scale(1.1);
  
  background-image: url("../../assets/randomY.png");
}
